.play-movie-name{
    position: absolute;
    top: 1rem;
    min-width: 100%;
}
.play-movie-name h2{
    text-shadow: 2px 2px black;
}
.play-mov-back-home{
    position: absolute;
    top: 1rem;
    left: 1.25rem;
    cursor: pointer;
    max-width: 2rem;
    z-index: 100;
}
.watch-movie{
    overflow: hidden;
    background: black;
    min-width: 100vw;
    overflow: hidden;
}
.watch-movie video{
    background: black;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}
.next-episode{
    position: absolute;
    bottom: 2.5rem;
    right: 14.5rem;
    z-index: 100;
    font-size: 1.5rem;
    color: white;
}